.banner {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/banner.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}

.banner h1, .banner h2, .banner p {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}